In [68]:
import pandas as pd

In [69]:
dt = pd.read_csv("table.csv")
dt.head()

   Unnamed: 0 Temperature Humidity  Windy Play Football
0           0         Hot   Normal  False            No
1           1        Mild     High   True            No
2           2        Cool     High  False           Yes
3           3        Mild     High  False           Yes
4           4        Cool   Normal  False           Yes

In [70]:
dt.shape

(14, 5)

In [71]:
humid = pd.crosstab(index=dt['Humidity'], columns=dt['Play Football'])
humid

Play Football  No  Yes
Humidity
High            1    4
Normal          5    4

In [72]:
result = pd.crosstab(index=dt['Temperature'], columns=dt['Play Football'])
result

Play Football  No  Yes
Temperature
Cool            3    4
Hot             2    0
Mild            1    4

In [73]:
wind = pd.crosstab(index=dt['Windy'], columns=dt['Play Football'])
wind

Play Football  No  Yes
Windy
False           4    6
True            2    2

In [74]:
humid['pyes'] = 0
humid['pno'] = 0
humid['pyes'] = humid['Yes']/humid.sum()['Yes']
humid['pno'] = humid['No']/humid.sum()['No']

humid

Play Football  No  Yes  pyes       pno
Humidity
High            1    4   0.5  0.166667
Normal          5    4   0.5  0.833333

In [75]:
result['pyes'] = 0
result['pno'] = 0
result['pyes'] = result['Yes']/result.sum()['Yes']
result['pno'] = result['No']/result.sum()['No']

result

Play Football  No  Yes  pyes       pno
Temperature
Cool            3    4   0.5  0.500000
Hot             2    0   0.0  0.333333
Mild            1    4   0.5  0.166667

In [76]:
wind['pyes'] = 0
wind['pno'] = 0
wind['pyes'] = wind['Yes']/wind.sum()['Yes']
wind['pno'] = wind['No']/wind.sum()['No']

wind

Play Football  No  Yes  pyes       pno
Windy
False           4    6  0.75  0.666667
True            2    2  0.25  0.333333

In [78]:
play = pd.value_counts(dt['Play Football'])
play

Yes    8
No     6
Name: Play Football, dtype: int64